<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title ng-bind="seo.headTitle"></title>
  <meta name="description" content="{{ $root.seo.getDescription() | plaintext }}">
  <meta name="fragment" content="!">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  
  <!--//////////////////////////////////////////-->
  <!-- fluro:mobilewebapplication -->
  <!--//////////////////////////////////////////-->


  <!--//////////////////////////////////////////-->
  <!-- fluro:devstart -->


  



  <!-- <meta property="fluro_url" content="https://api.staging.fluro.io"> -->
  <meta property="fluro_url" content="http://api.fluro.localhost:3000">


  
  <meta property="app_dev_url" content="https://admin.fluro.io">
  <!-- <meta property="fluro_application_key" content="APPLICATION_KEY"> -->
  <!-- fluro:devend -->
  <!--//////////////////////////////////////////-->



  <!--//////////////////////////////////////////-->
  <!-- fluro:config -->
  <!--//////////////////////////////////////////-->


  <!--//////////////////////////////////////////-->
  <!-- build:css /css/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css" />
  <link rel="stylesheet" href="/bower_components/angular-bootstrap-colorpicker/css/colorpicker.css" />
  <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.css" />
  <link rel="stylesheet" href="/bower_components/ng-sortable/dist/ng-sortable.css" />
  <link rel="stylesheet" href="/bower_components/angular-ui-tree/dist/angular-ui-tree.css" />
  <link rel="stylesheet" href="/bower_components/intl-tel-input/build/css/intlTelInput.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!--//////////////////////////////////////////-->


  <!--//////////////////////////////////////////-->
  <!-- fluro:beforecss -->
  <!-- build:css /css/style.min.css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- endbuild -->
  <!-- fluro:aftercss -->
  <!--//////////////////////////////////////////-->



  <!--//////////////////////////////////////////-->
  <!-- fluro:googleanalytics -->
  <!-- fluro:headerinject -->
  <!--//////////////////////////////////////////-->


  <base href="/">
</head>

<body>

  <application></application>

  <!--//////////////////////////////////////////-->
  <!-- build:js /js/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>
  <script src="/bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
  <script src="/bower_components/angular-deckgrid/angular-deckgrid.js"></script>
  <script src="/bower_components/angular-file-upload/angular-file-upload.min.js"></script>
  <script src="/bower_components/api-check/dist/api-check.js"></script>
  <script src="/bower_components/angular-formly/dist/formly.js"></script>
  <script src="/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
  <script src="/bower_components/angular-json-edit/dist/angularJsonEdit.js"></script>
  <script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/bower_components/angular-ui-ace/ui-ace.js"></script>
  <script src="/bower_components/SHA-1/sha1.js"></script>
  <script src="/bower_components/angulartics/src/angulartics.js"></script>
  <script src="/bower_components/angulartics-google-analytics/lib/angulartics-google-analytics.js"></script>
  <script src="/bower_components/fluro.access/dist/fluro.access.js"></script>
  <script src="/bower_components/ngstorage/ngStorage.js"></script>
  <script src="/bower_components/fluro.config/dist/fluro.config.js"></script>
  <script src="/bower_components/fluro.auth/dist/fluro.auth.js"></script>
  <script src="/bower_components/fluro.util/dist/fluro.util.js"></script>
  <script src="/bower_components/lodash/lodash.js"></script>
  <script src="/bower_components/fluro.content/dist/fluro.content.js"></script>
  <script src="/bower_components/fluro.ui/dist/fluro.ui.min.js"></script>
  <script src="/bower_components/angular-youtube-mb/src/angular-youtube-embed.js"></script>
  <script src="/bower_components/fluro.video/dist/fluro.video.js"></script>
  <script src="/bower_components/ng-sortable/dist/ng-sortable.js"></script>
  <script src="/bower_components/ngmap/build/scripts/ng-map.js"></script>
  <script src="/bower_components/moment-timezone/builds/moment-timezone-with-data-2012-2022.js"></script>
  <script src="/bower_components/ng-currency/dist/ng-currency.min.js"></script>
  <script src="/bower_components/fluro.socket/dist/fluro.socket.js"></script>
  <script src="/bower_components/fluro.types/dist/fluro.types.js"></script>
  <script src="/bower_components/fluro.asset/dist/fluro.asset.js"></script>
  <script src="/bower_components/moment-range/dist/moment-range.js"></script>
  <script src="/bower_components/validator-js/validator.js"></script>
  <script src="/bower_components/fluro.validate/dist/fluro.validate.js"></script>
  <script src="/bower_components/jsondiffpatch/public/build/jsondiffpatch.js"></script>
  <script src="/bower_components/ng-file-model/ng-file-model.js"></script>
  <script src="/bower_components/async/dist/async.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/bower_components/chart.js/dist/Chart.js"></script>
  <script src="/bower_components/angular-chart.js/dist/angular-chart.js"></script>
  <script src="/bower_components/fluro.audio/dist/fluro.audio.js"></script>
  <script src="/bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="/bower_components/moment-recur/moment-recur.js"></script>
  <script src="/bower_components/angular-native-dragdrop/draganddrop.js"></script>
  <script src="/bower_components/json-editor/dist/jsoneditor.js"></script>
  <script src="/bower_components/angular-json-editor/src/angular-json-editor.js"></script>
  <script src="/bower_components/intl-tel-input/build/js/intlTelInput.js"></script>
  <script src="/bower_components/ng-intl-tel-input/dist/ng-intl-tel-input.js"></script>
  <script src="/bower_components/ng-vkThread/vkthread/vkthread.js"></script>
  <script src="/bower_components/ment.io/dist/mentio.js"></script>
  <script src="/bower_components/tinymce/tinymce.js"></script>
  <script src="/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
  <!-- endbower -->
  <script src="/bower_components/jsondiffpatch/public/external/diff_match_patch_uncompressed.js"></script>

  <script src="/bower_components/intl-tel-input/build/js/utils.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/ace.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/mode-css.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/mode-javascript.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/mode-json.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/mode-ejs.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/mode-scss.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/mode-html.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/ext-searchbox.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/ext-language_tools.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/ext-beautify.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/theme-tomorrow_night_eighties.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/snippets/snippets.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/snippets/html.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/snippets/javascript.js"></script>
  <script src="/bower_components/ace-builds/src-min-noconflict/snippets/sass.js"></script>

  <!-- endbuild -->


  <!-- build:js /js/worker/worker-json.js -->
  <script src="/bower_components/ace-builds/src-min-noconflict/worker-json.js"></script>
  <!-- endbuild --> 
  <!-- build:js /js/worker/worker-html.js --> 
  <script src="/bower_components/ace-builds/src-min-noconflict/worker-html.js"></script>
  <!-- endbuild --> 
  <!-- build:js /js/worker/worker-javascript.js --> 
  <script src="/bower_components/ace-builds/src-min-noconflict/worker-javascript.js"></script>
  <!-- endbuild --> 


  
  <!--//////////////////////////////////////////-->

  <!--//////////////////////////////////////////-->
  <!-- fluro:socketio -->
  <!-- fluro:appdata -->
  <!--//////////////////////////////////////////-->

  <!--//////////////////////////////////////////-->
  <!-- build:js /js/app.js -->
  <script src="/js/app.js"></script>
  <script src="/js/templates.js"></script>
  <!-- endbuild -->
  <!--//////////////////////////////////////////-->


  <!--//////////////////////////////////////////-->
  <!-- fluro:devstart -->
  <script src="http://localhost:9191/livereload.js"></script>  
  <!-- <script src="https://api.staging.fluro.io/socket.io/socket.io.js"></script> -->
  <!-- <script src="http://api.fluro.io/socket.io/socket.io.js"></script> -->
  <script src="http://api.fluro.localhost:3000/socket.io/socket.io.js"></script>

  <!-- <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script> -->

  


  <!-- fluro:devend -->
  <!--//////////////////////////////////////////-->

  <!--//////////////////////////////////////////-->
  <!-- fluro:footerinject -->
  <!--//////////////////////////////////////////-->

  <!--//////////////////////////////////////////-->
  <!-- include google maps -->
  <!-- <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase-messaging.js"></script>
  <script>

    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAjAAk867nTosOWVz-KZechdv8pRU8vAXk",
      authDomain: "fluro-platform.firebaseapp.com",
      databaseURL: "https://fluro-platform.firebaseio.com",
      projectId: "fluro-platform",
      storageBucket: "fluro-platform.appspot.com",
      messagingSenderId: "1039504642937"
    };
    firebase.initializeApp(config);
  </script> -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDI4_hZAlrVIt9TvKFq7tUSnkmyqda62ZY"></script>
  <!--//////////////////////////////////////////-->

</body>
</html>
